<template>
  <v-container>
    <v-layout justify-center>
      <v-flex xs12 sm10 md8 lg6>
        <v-btn color="primary" :loading="loading" @click="getData">Load JSON</v-btn>
        <v-btn v-if="total" color="success" @click="save">set Selected</v-btn>
        <v-btn v-if="total" color="warning" @click="restore">get Selected</v-btn>

        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <v-card v-for="group in groups" :key="group.id">
            <v-card-title primary-title>
              <div class="headline">{{ group.name }}</div>
            </v-card-title>
            <v-card-text >
              <template v-for="field in group.fields">
                <v-text-field
                  v-if="field.type === 'input'"
                  v-model="s[group.code][field.code]"
                  :key="field.code"
                  :type="(field.validate && field.validate === 'num') ? 'number' : 'text'"
                  :name="field.code"
                  :label="field.name"
                  :rules="field.validate ? [rules[field.validate], rules.required] : []"
                  required
                ></v-text-field>
              </template>
              <p><b>local:</b>{{ s }}</p>
              <p><b>store:</b>{{ selected }}</p>
            </v-card-text>
            <v-divider class="mt-5"></v-divider>
            <v-card-actions>
              <v-btn color="error" flat @click="reset">Reset Form</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="warning" flat :disabled="valid"
                     @click="resetValidation">Reset Validation</v-btn>
              <v-spacer></v-spacer>
              <v-btn
                color="success"
                flat
                :disabled="!valid"
                @click="validate">Validate</v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios';
import { mapState, mapActions } from 'vuex';
import { sortBy, cloneDeep } from '../utils';

export default {
  data: () => ({
    loading: false,
    valid: true,
    rules: {
      required: value => !!value || 'Обязательное',
      counter: value => value.length <= 20 || 'Max 20 characters',
      string: value => (typeof value === 'string' && value.length > 1) || 'string 1+',
      num: value => /^-?\d+\.?\d*$/.test(value) || 'Только цифры',
    },
    rows: [],
    s: {},
    groups: {},
  }),
  computed: {
    ...mapState(['selected']),
    total() {
      return Object.keys(this.groups).length;
    },
    /* groups() {
      return sortBy(this.rows, 'orderID').filter(({ type }) => type === 'group')
        .map((group) => {
          let fields = this.rows.filter(({ parent }) => parent === parseInt(group.id, 10));
          return ({ ...group, fields });
        });
    }, */
  },
  created() {
    this.getData();
  },
  methods: {
    ...mapActions(['setSelected']),
    validate() {
      if (this.$refs.form.validate()) {
        this.snackbar = true;
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    save() {
      this.setSelected(cloneDeep(this.s));
    },
    restore() {
      this.s = cloneDeep(this.selected);
    },
    getData() {
      this.loading = true;
      setTimeout(() => {
        axios.get('/data.json')
          .then(({ data }) => {
            // this.rows = data;
            this.parseData(data);
          })
          .catch((error) => {
            console.log(error);
          })
          .finally(() => {
            this.loading = false;
          });
      }, 1000);
    },
    parseData(data) {
      const g = {};
      const s = {};
      const code = {};

      const sData = sortBy(data, 'orderID');

      sData.forEach((item) => {
        if (item.type === 'group') {
          code[item.id] = item.code;
          g[item.code] = { ...item, fields: [] };
          s[item.code] = {};
        }
      });

      sData.forEach((item) => {
        if (item.type !== 'group') {
          g[code[item.parent]].fields.push(item);
          s[code[item.parent]][item.code] = item.val || '';
        }
      });

      this.s = s;
      this.groups = g;
    },
  },
};
</script>

<style>

</style>
