<template>
  <v-app>
    <v-content>
      <FormGroup/>
    </v-content>
  </v-app>
</template>

<script>
import FormGroup from './components/FormGroup.vue';

export default {
  name: 'App',
  components: {
    FormGroup,
  },
  data() {
    return {
      //
    };
  },
};
</script>
